<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail Product</title>
  </head>
  <body>
    <h2>Detail Product: <%= product.id %></h2>
    <div>
      <p>-------------------------------</p>
      <b>Nama: <%= product.name %></b>

      <br />

      <b>Price: <%= product.price %></b>
    </div>
    <button><a href="/products/<%= product.id %>/edit">Edit</a></button>
    <!-- Jika ingin membuat delete maka harus di dalam form -->
    <form action="/products/ <%= product.id %>?_method=delete" method="POST">
      <button>Hapus</button>
    </form>
    <p>-------------------------------</p>
    <button><a href="/products">All Products</a></button>
  </body>
</html>
